<ion-view title="{{vm.pageTitle}}">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon ion-android-more-vertical"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button button-icon" ui-sref="{{vm.backState}}">Back</button>
	</ion-nav-buttons>
	<ion-content class="padding">
		<form ng-submit="vm.submit()" name="myForm">
			<div class="list">
				<label class="item item-input item-stacked-label">
					<span class="input-label">Brand</span>
					<input type="text" ng-model="vm.clothingItem.brand" placeholder="Brand" required>
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Note</span>
					<input type="text" ng-model="vm.clothingItem.note" placeholder="Note">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Cost</span>
					<input type="text" ng-model="vm.clothingItem.cost" placeholder="Cost" required ct-format="currency">
				</label>
				<div ct-color-picker ng-model="vm.clothingItem.color">
					<label class="item item-input item-stacked-label">
						<div class="por">
							<span class="input-label">Color</span>
							<span class="item-stacked-content">{{vm.clothingItem.color | colorName}}</span>

							<div class="iconCircle" ng-style="{'background-color': vm.clothingItem.color}"></div>
						</div>
					</label>
				</div>
				<label class="item item-input item-select">
					<span class="input-label">Category</span>
					<div class="item-select-inner">
						<select ng-options="category.id as category.title for category in vm.categories" ng-model="vm.clothingItem.category_id" required ct-placeholder="Category">
							<option value="">Category</option>
						</select>
					</div>
				</label>
			</div>
			<button class="button button-positive button-block" type="submit" ng-disabled="!myForm.$valid">
				Submit
			</button>
		</form>
	</ion-content>
</ion-view>