<ion-view view-title="Blank Template">
	<ion-content class="padding">

		<div class="clearfix">
		<div ng-repeat="category in vm.categories">
			<div class="item item-divider">
				{{category.title}}
			</div>
			<div class="clothingCard-categoryWrap">
				<ul class="clearfix clothingCard-wrap">
					<li class="card list clothingCard" ng-repeat="clothingItem in category.clothing_items">
						<div class="item item-text-wrap">
							<div class="item-icon-circle-right padding-bottom por">
								<div class="icon iconCircle" ng-style="{'background-color': clothingItem.color}"></div>
								<h2 class="clothingCard-title">
									<strong class="clothingCard-subTitle">{{clothingItem.brand}}</strong> 
									<small class="clothingCard-catTitle">{{category.singular_title}}</small>
								</h2>
								<p>{{clothingItem.note}}</p>
								<p>$2.15 a wear</p>
							</div>

							<div class="button-bar padding-top">
								<button class="button button-outline button-dark icon ion-information-circled"></button>
								<button class="button button-outline button-dark icon ion-tshirt"></button>
							</div>
						</div>	
					</li>	
				</ul>
			</div>
		</div>
	
		<div class="button-bar padding-bottom button-bar--small fr">
			<button class="button button-outline button-dark icon ion-pricetags"></button>
			<button class="button button-outline button-balanced icon ion-plus-circled"></button>
		</div>
	</ion-content>
</ion-view>